[submodule "thirdparty/bvh"]
	path = thirdparty/bvh
	url = https://github.com/madmann91/bvh
[submodule "thirdparty/tinygltf"]
	path = thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = git@github.com:CLIUtils/CLI11.git
